body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.fondo{
    background-image: url(../imagenes/Extensi贸n/fondoExtensi贸n.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefefeac;
    padding: 10px 20px;
    border-bottom: 1px solid #f8f8f8;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    font-size: 13px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.banner {
    background-image: url('../imagenes/Extensi贸n/bannerExtensi贸n.jpg');
    background-size: cover;
    text-align: left; 
    padding: 80px;
    padding-bottom: 150px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.stats {
    display: flex;
    gap: 30px;
    padding: 0;
    text-align: center;
}

.stat-box {
    background-color: rgba(29, 29, 29, 0.8);
    color: white;
    padding: 20px;
    width: 200px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
}

.stat-box h2 {
    font-size: 30px;
    margin: 0;
}

.stat-box p {
    font-size: 16px;
    margin: 10px 0 0;
}

h1{
    color: black;
    font-size: 40px;
    background-color: #a3d36e;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.abajo{
    margin: 50px auto;
    text-align: center;
}
