body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.fondo{
    background-image: url(../imagenes/Investigación/fondoInvestigación.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefefeac;
    padding: 10px 20px;
    border-bottom: 1px solid #f8f8f8;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    font-size: 13px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.banner {
    background-image: url('banner.png');
    background-size: cover;
    text-align: left; 
    padding: 80px;
    padding-bottom: 150px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.stats {
    display: flex;
    gap: 30px;
    padding: 0;
    text-align: center;
}


.stat-box {
    background-color: #1d1d1dc8;
    color: white;
    padding: 20px;
    width: 400px;
    height: 200px;
    padding: auto;
}

.convocatorias {
    padding: 30px;
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #003300;
    color: white;
}
h1{
    color: black;
    font-size: 40px;
}
.abajo{
    margin: 100px 500px;
}
span{
    color: #282;
    font-weight: bold;
    font-size: 13px;
}